{% extends "base.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}

<br><br>
<h1><span><b>Edycja grupy</b></span></h1>
<p>Parametry grupy możesz zmienić za pomocą poniższego formularza:</p>
<div class="form-group text-center">
  <div class="row">
    <div class="col-sm-4">
      <div id="formId" class="row">
        
        
        <form action="." method="post" role="form" style="padding-left: 20px; padding-right: 20px;">
          <div class="row text-left">
          {{edit_group_form}}
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ZAPISZ ZMIANY</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
      <script>
        var form = document.getElementById("formId");
        var inputs = form.getElementsByTagName("input")
        for(var i = 0; i < inputs.length; i++){
          if((inputs[i]).id !== "id_private")
          (inputs[i]).classList.add("form-control");
        }
      </script>
      
      
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
{% endblock %}
