{% extends "base.html" %}

{% block title %}Grupy{% endblock %}

{% block content %}
  <h2>Grupy</h2>
  <br>
  
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      FILTRUJ <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a class="dropdown-item" data-filter="all" href="#">Wszystkie grupy</a></li>
      <li><a class="dropdown-item" data-filter="member" href="#">Tylko te, do których należysz</a></li>
      <li><a class="dropdown-item" data-filter="no-member" href="#">Tylko te, do których nie należysz</a></li>
    </ul>
  </div>
  <a class="btn btn-success" href="{% url "new_group" %}">DODAJ GRUPĘ</a>
  
  <table class="table groups">
    <thead>
      <tr class="table-header">
        <th scope="col">Nazwa grupy</th>
        <th scope="col">Twórca grupy</th>
        <th scope="col">Dostęp</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr{% if request.user in group.users.all %} class="member"{% endif %}>
          {% if request.user in group.users.all %}
            <td><a href="{% url 'group' group_id=group.id %}">{{ group.name }}</a></td>
          {% else %}
            <td>{{ group.name }}</td>
          {% endif %}
            
          <td>{{ group.creator.username }}</td>
          <td>
            <h5>
              {% if group.private == True %}
                Prywatna
                {% if request.user not in group.users.all %}
                  <a href="{% url 'join_to_priv_group' group_id=group.id %}"><span class="label label-primary">DOŁĄCZ</span></a>
                {% else %}
                  <span class="label label-success">NALEŻYSZ</span>
                  {% if request.user.username == group.creator.username %}
                    <a href="{% url 'edit_group' group_id=group.id %}"><span class="label label-primary">EDYTUJ</span></a>
                    Edytuj
                  {% endif %} 
                {% endif %} 
              {% else %}
                Publiczna
                {% if request.user not in group.users.all %}
                  <a href="{% url 'join_to_group' group_id=group.id %}"><span class="label label-primary">DOŁĄCZ</span></a>
                {% else %}
                  <span class="label label-success">NALEŻYSZ</span>
                  {% if request.user.username == group.creator.username %}
                    <a href="{% url 'edit_group' group_id=group.id %}"><span class="label label-primary">EDYTUJ</span></a>
                  {% endif %}
                {% endif %}  
              {% endif %}
            </h5>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}