{% extends "base.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<h2>{{ group.name }}</h2>

<div class="row">
  <div class="col-sm-8">
    <br>
    <h3>Użytkownicy należący do grupy:</h3>
    <table class="table groups">
      <tbody>
        {% for user in group.users.all %}
            <tr>
              <td><h5>{{ user.username }}</h5></td>
              <td>
                <h5>
                  {% if user in group.admins.all %}
                  <span class="label label-primary">ADMIN</span>
                  {% endif %} 
                  {% if user == group.creator %}
                  <span class="label label-primary">ZAŁOZYCIEL</span>
                  {% elif request.user == group.creator %}
                    {% if user in group.admins.all %}
                    <span class="label label-danger"><a href="/bets/delete_user_from_admins/{{group.id}}/{{user.id}}" style="color:#ffffff;">Usuń administratora</a></span>
                    {% else %}
                    <span class="label label-success"><a href="/bets/add_user_to_admins/{{group.id}}/{{user.id}}" style="color:#ffffff;">Dodaj do administratorów</a></span>
                    {% endif %}
                  {% endif %}
                </h5>
              </td>
            </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
</div>

<br>
{% if user in group.admins.all %}
<a class="btn btn-success" type="button" href="/bets/new_tournament/{{ group.id }}/">
  Nowy turniej
</a>
{% endif %}

<a class="btn btn-primary" type="button" href="/bets/teams/{{ group.id }}/">
  Drużyny
</a>

<a class="btn btn-primary" type="button" href="/bets/leagues/{{ group.id }}/">
  Ligi
</a>

<div class="row">
  <div class="col-sm-8">
    <h3>Organizowane turnieje:</h3>
    <table class="table groups">
      <tbody>
        {% for tournament in group.bets_tournaments.all %}
          <tr>
            <td><h5><a href="/bets/tournament/{{ tournament.id }}/">{{ tournament.name }}</a></h5></td>
            <td>
              <h5>
                {% if user in group.admins.all %}
                  <span class="label label-warning"><a style="color:#ffffff;" href="/bets/edit_tournament/{{ tournament.id }}/">EDYTUJ</a></span>
                  <span class="label label-danger"><a style="color:#ffffff;" href="/bets/delete_tournament/{{ tournament.id }}/">USUŃ</a></span>
                {% endif %}
              </h5>
            </td>
          </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
</div>




  
  
  
  
  
{% endblock %}