{% extends "base.html" %}

{% block title %}Dołącz do prywatnej grupy{% endblock %}

{% block content %}
  <h2>Aby dołączyć do grupy {{ group_name }} podaj hasło</h2>
  <div class="row">
    <div class="col-sm-4">
      <form method="get" action=".">
          <p><input type="text" name="password" class="form-control"></p>
          <button class="btn btn-success" type="submit">DOŁACZ</button>
          
      </form>
    </div>
  </div>
  
{% endblock %}


<div class="row">
  <div class="col-sm-4">
    
  </div>
</div>