{% extends "base.html" %}

{% block title %}Utwórz grupę{% endblock %}

{% block content %}
<br><br>
<h1><span><b>Nowa grupa</b></span></h1>
<div class="form-group text-center">
  <div class="row">
    <div class="col-sm-4">
      <div id="formId" class="row">
        <p>Wypełnij poniższy formularz, aby utworzyć grupę:</p>
        
        <form action="." method="post" role="form" style="padding-left: 20px; padding-right: 20px;">
          <div class="row text-left">
          {{new_group_form}}
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">UTWÓRZ GRUPĘ</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
      <script>
        var form = document.getElementById("formId");
        var inputs = form.getElementsByTagName("input")
        for(var i = 0; i < inputs.length; i++){
          if((inputs[i]).id !== "id_private")
          (inputs[i]).classList.add("form-control");
        }
      </script>
      
      
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

{% endblock %}
