{% extends "base.html" %}

{% block title %}Typowania - {{ user.username }}{% endblock %}

{% block content %}
  <h2>Typowania gracza {{ user.username }}</h2>
  {% for bet in bets %}
    <h3>{{ bet.match.name }}</h3> 
    <p>{{ bet.match.team_a }} - {{ bet.match.team_b }}</p>
    <p>Wynik meczu: {% if bet.match.result_a >= 0 %}{{ bet.match.result_a }} - {{ bet.match.result_b }}{% endif %}</p>
    <p>Typ: {{ bet.bet_team_a }} - {{ bet.bet_team_b }}</p>
    <p>Punkty: {{ bet.points }}</p>
  {% endfor %}
{% endblock %}