{% extends "base.html" %}

{% block title %}Obstaw wynik meczu{% endblock %}

{% block content %}
  <h2>Obstaw wynik meczu</h2>
  <p>Wypełnij poniższy formularz, aby wytypować wynik meczu:</p>
  
  <form action="." method="post">
      {% csrf_token %}
      {% for field in new_bet_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </p>
      {% endfor %}
      <button class="btn btn-secondary" type="submit">Obstaw</button>
    </form>
{% endblock %}


