{% extends "base.html" %}

{% block title %}Gracze{% endblock %}

{% block content %}
  <h2>Gracze</h2>
  {% for user in users %}
    <p>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</p>
  {% endfor %}
{% endblock %}