{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block meta %}
        {% endblock %}
        
        <!-- Bootstrap -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <!-- Bootstrap -->
        
        
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container"> 
            <div class="navbar-header">
            {% if request.user.is_authenticated %}
                <a class="navbar-brand" href="{% url "groups" %}"><span class="label label-default">Typer</span></a>
            {% else %}
                <a class="navbar-brand" href="{% url "login" %}"><span class="label label-default">Typer</span></a>
            {% endif %}
            </div>
              
            {% if request.user.is_authenticated %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Witaj, {{ request.user.first_name }}! <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "edit" %}">Edytuj profil</a></li>
                        <li><a href="{% url "password_change" %}">Zmień hasło</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "logout" %}">Wyloguj</a></li>
                    </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
            {% endif %}
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="container">
            
            <br><br><br>
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            
            
            {% block content %}
            {% endblock %}
        </div>
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>
