{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}

<div class="form-group text-center">
  <h4><span><b>Aby kontynuować, zaloguj się do Typera</b></span></h4>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      
{#      <div class="row">#}
{#        <a class="btn btn-primary btn-lg btn-block" href="{% url "social:begin" "facebook" %}">ZALOGUJ SIĘ FACEBOOKIEM</a>#}
{#      </div>#}
{#      <div class="row">#}
{#        <a class="btn btn-info btn-lg btn-block" href="{% url "social:begin" "twitter" %}">ZALOGUJ SIĘ TWITTEREM</a>#}
{#      </div>#}
{#      <div class="row">#}
{#        <a class="btn btn-danger btn-lg btn-block" href="{% url "social:begin" "google-oauth2" %}">ZALOGUJ SIĘ GOOGLE</a>#}
{#      </div>#}
{#      <div class="row">#}
{#        <div class="col-sm-5"><hr></div>#}
{#        <div class="col-sm-2"><h4><span><b>LUB</b></span></h4></div>#}
{#        <div class="col-sm-5"><hr></div>#}
{#      </div>#}
        
      {% if form.errors %}
      <div class="row">
        <div class="alert alert-danger text-left">
          Nazwa użytkownika lub hasło jest nieprawidłowe.<br>
        </div>
      </div>
      {% endif %}
        
      <div class="row">
      
        <form action="{% url 'login' %}" method="post" role="form">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field }}
              <script>
                var temp = document.getElementById("{{ field.id_for_label }}");
                temp.classList.add("form-control");
                temp.placeholder = "{{ field.label }}";
              </script>
            </div>
          {% endfor %}
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ZALOGUJ SIĘ</button>
          </div>
          
        </form>
      </div>
      
      <h4><span><b><a href="{% url "password_reset" %}">Nie pamiętasz hasła ?</a></b></span></h4>
      <div class="row"><hr></div>
      <h4><span><b>Nie masz jeszcze konta ?</b></span></h4>
      
      <div class="row">
        <a class="btn btn-default btn-lg btn-block" href="{% url "register" %}">ZAREJESTRUJ SIĘ W TYPER</a>
      </div>
      
    </div>
  </div>
</div>


{% endblock %}
