{% extends "base.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}

  <div class="form-group text-center">
  
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <br><br>
      <h1><span><b>Zapomniałeś hasła?</b></span></h1>
      <h4><span>Podaj swój <b>adres e-mail</b>, który był przez Ciebie użyty do rejestracji. 
      Wyślemy do Ciebie wiadomość e-mail z Twoją nazwą użytkownika oraz z łączem umożliwiającym zresetowanie hasła.</span></h4>
      
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <form action="." method="post">
            {{ form }}
            <script>
              var temp = document.getElementById("id_email");
              temp.classList.add("form-control");
            </script>
            <div class="form-group text-center">
              <button class="btn btn-success" type="submit">WYŚLIJ</button>
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
      <div class="row">
        <h5><span><b>Przypomniałeś sobie ? <a href="{% url "login" %}">Zaloguj się</a></b></span></h5>
      </div>
    </div>
  </div>
</div>

{% endblock %}
