{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}

<div class="form-group text-center">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <br><br>
      <h1><span><b>Zmiana hasła</b></span></h1>
      <div id="resetPasswordFormId" class="row">
        <form action="." method="post" role="form" style="padding-left: 20px; padding-right: 20px;">
          <div class="row text-left">
          {{form}}
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ZAMIEŃ</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
      <script>
        var form = document.getElementById("resetPasswordFormId");
        var inputs = form.getElementsByTagName("input")
        for(var i = 0; i < inputs.length; i++){
          (inputs[i]).classList.add("form-control");
        }
      </script>
      
      
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

{% endblock %}
