{% extends "base.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
  <h1>Zerowanie hasła</h1>
  {% if validlink %}
    <p>Dwukrotnie podaj nowe hasło:</p>
    
    <div id="resetPasswordFormId" class="row">
      <div class="col-sm-4">
        <form action="." method="post" role="form" style="padding-left: 20px; padding-right: 20px;">
          <div class="row text-left">
          {{form}}
          </div>
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ZAMIEŃ HASŁO</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
    <script>
      var form = document.getElementById("resetPasswordFormId");
      var inputs = form.getElementsByTagName("input")
      for(var i = 0; i < inputs.length; i++){
        (inputs[i]).classList.add("form-control");
      }
    </script>
    
  {% else %}
    <p>Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej użyte. Musisz ponownie rozpocząć procedurę zerowania hasła.</p>
  {% endif %}
{% endblock %}
