{% extends "base.html" %}

{% block title %}Edytuj turniej{% endblock %}

{% block content %}
  <h1>Edytuj turniej</h1>
  <p>Wypełnij poniższy formularz, aby edytować turniej:</p>
  <form action="." method="post">
    {{ edit_bets_tournament_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz"></p>
  </form>
{% endblock %}
