{% extends "base.html" %}

{% block title %}Utwórz turniej{% endblock %}

{% block content %}
  <h1>Utwórz turniej</h1>
  <p>Wypełnij poniższy formularz, aby utworzyć turniej:</p>
  <form action="." method="post">
    {{ new_bets_tournament_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Utwórz turniej"></p>
  </form>
{% endblock %}
