{% extends "base.html" %}

{% block title %}Ranking{% endblock %}

{% block content %}
  <h2>Ranking</h2><br>
  
  <table class="table matches">
    <thead>
      <tr class="table-header">
        <th scope="col">Pozycja</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">Punkty</th>
      </tr>
    </thead>
    <tbody>
      {% for row in points %}
        <tr class="to_type">
          <td>{{ row.position }}.</td>
          <td>{% if row.user %}{{ row.user.first_name }} {{ row.user.last_name }} ({{ row.user.username }}){% else %}USUNIĘTY{% endif %}</td>
          <td>{{ row.points }}</td>
        </tr>  
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
