{% extends "base.html" %}

{% block title %}{{ bets_tournament.name }}{% endblock %}

{% block content %}
  <h2>{{ bets_tournament.name }}</h2>
  
  <br>
  <div style="float: left">
    <a class="btn btn-success" type="button" href="/bets/new_match/{{ bets_tournament.id }}/">
      Dodaj mecz
    </a>
    
    <a class="btn btn-primary" type="button" href="/bets/rank/{{ bets_tournament.id }}/">
      Pokaż ranking
    </a>
    
    <a class="btn btn-primary" type="button" href="/bets/bets/{{ bets_tournament.id }}/{{ user.id }}/">
      Zakłady
    </a>
    
    <a class="btn btn-primary" type="button" href="/bets/users/{{ bets_tournament.id }}/">
      Pokaż graczy
    </a>
  </div>
  
  <div class="dropdown" style="float: right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMatchesMenuButton" data-toggle="dropdown">
      Filtruj <span class="caret"></span>
    </button>
    <ul id="visibility-filter-tournament" class="dropdown-menu" role="menu">
      <li><a class="dropdown-item" data-filter="to-type" href="#">Mecze do wytypowania</a></li>
      <li><a class="dropdown-item" data-filter="waiting-for-start" href="#">Mecze oczekujące na rozpoczęcie</a></li>
      <li><a class="dropdown-item" data-filter="ongoing" href="#">Trwające mecze</a></li>
      <li><a class="dropdown-item" data-filter="finished" href="#">Zakończone mecze</a></li>
    </ul>
  </div>
  <br><br>
  
  <h3 id="table-text">Mecze do wytypowania</h3>
  
  <table class="table tournament">
    <thead>
      <tr class="table-header">
        <th scope="col" class="col-lg-2">Nazwa meczu</th>
        <th scope="col" class="col-lg-4">Drużyny</th>
        <th scope="col" class="col-lg-2">Rozpoczęcie</th>
        <th scope="col" class="col-lg-2">Zakończenie</th>
        <th scope="col" class="col-lg-2">Typowanie do</th>
      </tr>
    </thead>
    <tbody>
      <!--mecze możliwe do wytypowania -->
      {% for match in matches_to_betting %}
        <tr class="to-type">
          <td><a href="/bets/match/{{ match.id }}/">{{match.name}}</a></td>
          <td>{{ match.team_a }} - {{ match.team_b }}</td>
          <td>{{ match.start }}</td>
          <td>{{ match.end }}</td>
          <td>{{ match.end_betting }} <a href="/bets/new_bet/{{ match.id }}/"><span class="label label-success">Dodaj zakład</span></a></td>
        </tr>  
      {% endfor %}
      
      <!--Mecze oczekujące na rozpoczęcie -->
      {% for match in matches_to_wait %}
        <tr class="waiting-for-start">
          <td><a href="/bets/match/{{ match.id }}/">{{match.name}}</a></td>
          <td>{{ match.team_a }} - {{ match.team_b }}</td>
          <td>{{ match.start }}</td>
          <td>{{ match.end }}</td>
          <td>TYPOWANIE ZAMKNIĘTE</td>
        </tr>  
      {% endfor %}
  
      <!--Trwające mecze -->
      {% for match in matches_being %}
        <tr class="ongoing">
          <td><a href="/bets/match/{{ match.id }}/">{{match.name}}</a></td>
          <td>{{ match.team_a }} - {{ match.team_b }}</td>
          <td>TRWA</td>
          <td>{{ match.end }}</td>
          <td></td>
        </tr>  
      {% endfor %}
  
      <!--Zakończone mecze -->
      {% for match in matches_ended %}
      <tr class="finished">
        <td><a href="/bets/match/{{ match.id }}/">{{match.name}}</a></td>
        <td>{{ match.team_a }} - {{ match.team_b }}</td>
        <td>ZAKOŃCZONY</td>
        <td>
          {{ match.end }}
        </td>
        <td>
          {% if user in group.admins.all %}
            <a href="/bets/set_match_result/{{ match.id }}/"><span class="label label-success">Dodaj rezultat meczu</span></a>
          {% endif %}
        </td>
      </tr>  
      {% endfor %}
    </tbody>
  </table>
  <!--
  <p>Mecze do wytypowania:</p>
  {% for match in matches_to_betting %}
    <p>[{{ match.id }}] {{ match.name }}: {{ match.team_a }} - {{ match.team_b }} (Rozpoczęcie: {{ match.start }}, Typowanie do: {{ match.end_betting }})</p>
  {% endfor %}
  <p>Mecze oczekujące na rozpoczęcie:</p>
  {% for match in matches_to_wait %}
    <p>[{{ match.id }}] {{ match.name }}: {{ match.team_a }} - {{ match.team_b }} (Rozpoczęcie: {{ match.start }})</p>
  {% endfor %}
  <p>Trwające mecze:</p>
  {% for match in matches_being %}
    <p>[{{ match.id }}] {{ match.name }}: {{ match.team_a }} - {{ match.team_b }} (Zakończonie: {{ match.end }})</p>
  {% endfor %}
  <p>Zakończone mecze:</p>
  {% for match in matches_ended %}
    <p>[{{ match.id }}] {{ match.name }}: {{ match.team_a }} - {{ match.team_b }} (Zakończono: {{ match.end }})</p>
  {% endfor %}
    {% for match in matches_ended_with_result %}
    <p>[{{ match.id }}] {{ match.name }}: {{ match.team_a }} {{ match.result_a }} - {{ match.result_b }} {{ match.team_b }} (Zakończono: {{ match.end }})</p>
  {% endfor %}
  -->
  <br>
  <h2>Wyniki meczów:</h2>
  <br>
  <table class="table ended-matches">
    <thead>
      <tr class="table-header">
        <th scope="col">Nazwa meczu</th>
        <th scope="col">Wynik</th>
        <th scope="col">Zakończono</th>
      </tr>
    </thead>
    <tbody>
      <!--mecze możliwe do wytypowania -->
      {% for match in matches_ended_with_result %}
        <tr>
          <td>{{match.name}}</td>
          <td>{{ match.name }}: {{ match.team_a }} {{ match.result_a }} - {{ match.result_b }} {{ match.team_b }} </td>
          <td>{{ match.end }}</td>
        </tr>  
      {% endfor %}
    </tbody>
  </table>
{% endblock %}