{% extends "base.html" %}

{% block title %}{{ match.name }}{% endblock %}

{% block content %}
  <h2>
    {{ match.name }}:
    {{ match.team_a.name }}{% if match.result_a >= 0 %} {{ match.result_a }}{% endif %} - {% if match.result_b >= 0 %}{{ match.result_b }} {% endif %}{{ match.team_b.name }}
  </h2>
  <p>Początek: {{ match.start }}</p>
  <p>Koniec : {{ match.end }}</p>
  <p>Koniec składania typów: {{ match.end_betting }}</p>
  
  {% if user_bet %}
    <p>Twój typ: {{ user_bet.bet_team_a }} - {{ user_bet.bet_team_b }}</p>
  {% endif %}
  
  {% if bets %}
    <p>Pozostałe typy:</p>
    {% for bet in bets %}
      <p>{{ bet.user.first_name }} {{ bet.user.last_name }} ({{ bet.user.username }}): {{ bet.bet_team_a }} - {{ bet.bet_team_b }}</p>
    {% endfor %}
  {% endif %}
{% endblock %}