{% extends "base.html" %}

{% block title %}Dodaj mecz{% endblock %}

{% block content %}


<h1><span><b>Nowy mecz</b></span></h1>
<p>Wypełnij poniższy formularz, aby dodać mecz do turnieju:</p>
<div class="form-group text-center">
  <div class="row">
    <div class="col-sm-4">
      <br><br>
      {% if new_match_form.errors.items %}
        <div class="alert alert-danger">
        {% for field, errors in new_match_form.errors.items %}
          {% for error in errors %}
            <div><b>{{ field }}</b> - {{ error }}</div>
          {% endfor %}
        {% endfor %}
        </div>
      {% endif %}
      
      
      <form action="." method="post" role="form" style="padding-left: 20px; padding-right: 20px;">
        {% csrf_token %}
        {% for field in new_match_form %}
        <div class="row">
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
          <script>
            var temp = document.getElementById("{{ field.id_for_label }}");
            temp.classList.add("form-control");
            
          </script>
        </div>
        {% endfor %}
        

        
        <div class="form-group text-right">
          <button class="btn btn-success" type="submit">DODAJ MECZ</button>
        </div>
      </form>
      
      
    </div>
  </div>
</div>

{% endblock %}