{% extends "base.html" %}

{% block title %}{{ match.name }}{% endblock %}

{% block content %}
  <h1>
    {{ match.name }}:
    {{ match.team_a.name }} - {{ match.team_b.name }}
  </h1>
  <p>Wynik meczu możesz wprowadzić za pomocą poniższego formularza:</p>
  <form action="." method="post" enctype="multipart/form-data">
    {{ set_match_result_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz"></p>
  </form>
{% endblock %}
