{% extends "base.html" %}

{% block title %}{{ league_name }}{% endblock %}

{% block content %}
  <h1>{{ league_name }}</h1>
  <p>Nazwę ligi możesz zmienić za pomocą poniższego formularza:</p>
  <form action="." method="post" enctype="multipart/form-data">
    {{ edit_league_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz"></p>
  </form>
{% endblock %}
