{% extends "base.html" %}

{% block title %}{{ league.name }}{% endblock %}

{% block content %}
  <h2>{{ league.name }}</h2>
  <p>Zespoły nalezące do ligi:</p>
  {% for team in teams %}
    <p>{{ team.name }}</p>
  {% endfor %}
  
  <a class="btn btn-success" type="button" href="/bets/new_team/{{ league.id }}/">
    Dodaj drużynę
  </a>
{% endblock %}