{% extends "base.html" %}

{% block title %}Ligi{% endblock %}

{% block content %}
  <h1>Ligi</h1>
  <p>Istniejące ligi w grupie:</p>
  {% for league in leagues %}
    <h5>{{ league.name }} <span class="label label-warning"><a style="color:#ffffff;" href="/bets/league/{{ league.id }}/">SZCZEGÓŁY</a></span></h5>
  {% endfor %}
  
  <a class="btn btn-success" type="button" href="/bets/new_league/{{ group_id }}/">
    Dodaj ligę
  </a>
{% endblock %}