{% extends "base.html" %}

{% block title %}Utwórz ligę{% endblock %}

{% block content %}
  <h1>Utwórz ligę</h1>
  <p>Wypełnij poniższy formularz, aby utworzyć ligę:</p>
  <form action="." method="post">
    {{ new_league_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Utwórz ligę"></p>
  </form>
{% endblock %}
