{% extends "base.html" %}

{% block title %}Edycja konta{% endblock %}

{% block content %}
<div class="form-group text-center">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <br><br>
      <h1><span><b>Edycja konta</b></span></h1>
      
      <div class="row">
        <form action="." method="post" enctype="multipart/form-data" role="form" style="padding-left: 20px; padding-right: 20px;">
          
          {% csrf_token %}
          {% for field in user_form %}
          <div class="row">
            {{ field.label_tag }}<br>
            {{ field }}
            <script>
              var temp = document.getElementById("{{ field.id_for_label }}");
              temp.classList.add("form-control");
              temp.placeholder = "{{ field.label }}";
            </script>
          </div>
          {% endfor %}
          
  
          {% for field in profile_form %}
          <div class="row">
            {{ field.label_tag }}<br>
            {{ field }}
            <script>
              var temp = document.getElementById("{{ field.id_for_label }}");
              temp.classList.add("form-control");
              temp.placeholder = "{{ field.label }}";
            </script>
          </div>
          {% endfor %}
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ZAPISZ ZMIANY</button>
          </div>
        </form>  
      </div>
    </div>
  </div>
</div>

{% endblock %}