{% extends "base.html" %}

{% block title %}Zarejestruj się{% endblock %}

{% block content %}
<div class="form-group text-center">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
{#      <div class="row">#}
{#        <a class="btn btn-primary btn-lg btn-block" href="{% url "social:begin" "facebook" %}">ZAREJESTRUJ SIĘ PRZEZ FACEBOOKA</a>#}
{#      </div>#}
{#      <div class="row">#}
{#        <a class="btn btn-info btn-lg btn-block" href="{% url "social:begin" "twitter" %}">ZAREJESTRUJ SIĘ PRZEZ TWITTERA</a>#}
{#      </div>#}
{#      <div class="row">#}
{#        <a class="btn btn-danger btn-lg btn-block" href="{% url "social:begin" "google-oauth2" %}">ZAREJESTRUJ SIĘ PRZEZ GOOGLE</a>#}
{#      </div>#}
{#      <div class="row">#}
{#        <div class="col-sm-5"><hr></div>#}
{#        <div class="col-sm-2"><h4><span><b>LUB</b></span></h4></div>#}
{#        <div class="col-sm-5"><hr></div>#}
{#      </div>#}
      
      <h4><span><b>Zarejestruj się przy użyciu swojego adresu e-mail</b></span></h4>
      
      <div class="row">
        <form method="post" role="form">
          {% csrf_token %}
          {% for field in user_form %}
            <div class="form-group">
              {{ field }}
              {% for error in field.errors %}
                <div class="alert alert-danger text-left">
                  {{ error }}
                </div>
              {% endfor %}
              <script>
                var temp = document.getElementById("{{ field.id_for_label }}");
                temp.classList.add("form-control");
                temp.placeholder = "{{ field.label }}";
              </script>
            </div>
          {% endfor %}
          <div class="form-group text-right">
            <button class="btn btn-success" type="submit">ZAREJESTRUJ SIĘ</button>
          </div>
          
        </form>
      </div>
      
      <div class="row">
        <h5><span><b>Masz już konto ? <a href="{% url "login" %}">Zaloguj się</a></b></span></h5>
      </div>
      
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
{% endblock %}


