{% extends "base.html" %}

{% block title %}{{ team_name }}{% endblock %}

{% block content %}
  <h1>{{ team_name }}</h1>
  <p>Nazwę zespołu możesz zmienić za pomocą poniższego formularza:</p>
  <form action="." method="post" enctype="multipart/form-data">
    {{ edit_team_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz"></p>
  </form>
{% endblock %}
