{% extends "base.html" %}

{% block title %}Utwórz drużynę{% endblock %}

{% block content %}
  <h1>Utwórz zespół</h1>
  <p>Wypełnij poniższy formularz, aby utworzyć drużynę:</p>
  <form action="." method="post">
    {{ new_team_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Utwórz zespół"></p>
  </form>
{% endblock %}
