{% extends "base.html" %}

{% block title %}Zespoły narodowe i klubowe{% endblock %}

{% block content %}
  <h2>Drużyny narodowe i klubowe</h2>
  
  <p>Istniejące zespoły:</p>
  
  <table class="table teams">
    <thead>
      <tr class="table-header">
        <th scope="col">Drużyna</th>
        <th scope="col">Liga</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
        <tr>
          <td><h5>{{ team.name }} 
            <span class="label label-warning"><a style="color:#ffffff;" href="/bets/edit_team/{{ team.id }}/">EDYTUJ</a></span>
            <span class="label label-danger"><a style="color:#ffffff;" href="/bets/delete_team/{{ team.id }}/">USUŃ</a></span>
          </td>
          <td>{{ team.league.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}